In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [28]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-01.parquet')

In [4]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-20.0.0-cp39-cp39-manylinux_2_28_x86_64.whl (42.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 MB 13.3 MB/s eta 0:00:00m eta 0:00:010:01:01
Installing collected packages: pyarrow
Successfully installed pyarrow-20.0.0

In [29]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-01-01 00:03:01,2025-01-01 00:17:12,N,1.0,75,235,1.0,5.93,24.70,...,0.5,6.80,0.00,NaN,1.0,34.00,1.0,1.0,0.00,0.0
1,2,2025-01-01 00:19:59,2025-01-01 00:25:52,N,1.0,166,75,1.0,1.32,8.60,...,0.5,0.00,0.00,NaN,1.0,11.10,2.0,1.0,0.00,0.0
2,2,2025-01-01 00:05:29,2025-01-01 00:07:21,N,5.0,171,73,1.0,0.41,25.55,...,0.0,0.00,0.00,NaN,1.0,26.55,2.0,2.0,0.00,0.0
3,2,2025-01-01 00:52:24,2025-01-01 01:07:52,N,1.0,74,223,1.0,4.12,21.20,...,0.5,6.13,6.94,NaN,1.0,36.77,1.0,1.0,0.00,0.0
4,2,2025-01-01 00:25:05,2025-01-01 01:01:10,N,1.0,66,158,1.0,4.71,33.80,...,0.5,7.81,0.00,NaN,1.0,46.86,1.0,1.0,2.75,0.0

In [7]:
import sklearn

In [8]:
sklearn.__version__

'1.0.2'

In [30]:
df = df[df.trip_type == 2]
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
2,2,2025-01-01 00:05:29,2025-01-01 00:07:21,N,5.0,171,73,1.0,0.41,25.55,...,0.0,0.00,0.0,NaN,1.0,26.55,2.0,2.0,0.00,0.00
11,2,2025-01-01 00:18:31,2025-01-01 00:18:46,N,5.0,92,92,1.0,0.00,35.00,...,0.0,2.00,0.0,NaN,1.0,38.00,1.0,2.0,0.00,0.00
15,2,2025-01-01 00:31:59,2025-01-01 00:32:02,N,5.0,66,66,0.0,0.03,76.00,...,0.0,15.40,0.0,NaN,1.0,92.40,1.0,2.0,0.00,0.00
18,2,2025-01-01 00:20:31,2025-01-01 00:20:34,N,5.0,197,197,1.0,0.00,13.00,...,0.0,1.00,0.0,NaN,1.0,15.00,1.0,2.0,0.00,0.00
28,2,2025-01-01 00:48:38,2025-01-01 01:33:50,N,5.0,33,220,2.0,17.07,87.00,...,0.0,18.15,0.0,NaN,1.0,108.90,1.0,2.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46466,2,2025-01-31 23:59:44,2025-02-01 00:18:54,N,5.0,255,181,1.0,5.05,40.00,...,0.0,0.00,0.0,NaN,1.0,41.00,1.0,2.0,0.00,0.00
46467,2,2025-01-31 23:17:15,2025-01-31 23:17:40,N,5.0,40,40,1.0,0.00,12.00,...,0.0,2.60,0.0,NaN,1.0,15.60,1.0,2.0,0.00,0.00
46468,2,2025-02-01 23:17:15,2025-02-02 00:03:41,N,5.0,40,40,1.0,0.00,12.00,...,0.0,3.60,0.0,NaN,0.0,15.60,1.0,2.0,0.00,0.00
46469,2,2025-01-31 23:30:29,2025-01-31 23:33:47,N,5.0,255,112,1.0,0.78,15.00,...,0.0,2.00,0.0,NaN,1.0,18.00,1.0,2.0,0.00,0.00
46481,2,2025-01-31 23:51:11,2025-02-01 00:06:16,N,5.0,97,186,1.0,4.45,40.00,...,0.0,5.00,0.0,NaN,1.0,49.50,1.0,2.0,2.75,0.75

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee, cbd_congestion_fee]
Index: []